body {
    animation: changeBg 4s infinite
    alternate linear;
}

@keyframes changeBg {
    0% {
        background: #a608bb;
    }
    25% {
        background: #0e0f0f;
    }
    50% {
        background: #d604f1;
    }
    75% {
        background: #000000;
    }
    100% {
        background: #a7039ed3;
    }
}