{% extends 'layout.html' %}

{% load static %}

{% block css_add %}
 <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %} 

{% block title %}Тест сайта{% endblock %}
{% block content %} 
    <header class="primary-header">
      <nav class="navbar container">
        <img src = "https://cdn-icons-png.flaticon.com/512/32/32592.png" height="45" weight="45">
        <a href="/index" class="logo">ATKUSHI</a>
        <ul class="nav-list">
          <li>
            <a href="/login" class="nav-link">LOGIN</a>
          </li>
          <li>
            <a href="/registr" class="nav-link">SIGN UP</a>
          </li>
          <li>
            <a href="/proba" class="nav-link">ABOUT US</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="button">Выход</a>
        {% endif %}
      </nav>
      {% if request.user.is_authenticated %}
      <center><h1>Welcome to the website, {{ user.username }}!</h1></center>
      {% else %}
      <center><h1>Welcome to the website!</h1></center>
      {% endif %}
    </header>

    <section class="hero"></section>
    <section class="demo-content"></section>

    <script>
      const isScrolling = () => {
        const headerEl = document.querySelector('.primary-header')
        let windowPosition = window.scrollY > 250
        headerEl.classList.toggle('active', windowPosition)
      }
      window.addEventListener('scroll', isScrolling)
    </script>
      
{% endblock %}