{% extends 'layout.html' %}
{% block title %}Тест сайта{% endblock %}
{% block content %} 
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Logo</a>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Заргестрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
        </li>
        </ul>
    </nav>
    <center><h1>Добро пожаловать на сайт!</h1></center>
    <center><div class="spinner-border text-primary"></div></center>
{% endblock %}