{% extends 'layout.html' %}

{% load static %}

{% block css_add %}
 <link rel="stylesheet" href="{% static 'main/css/create.css' %}">
{% endblock %} 

{% block title %}Добавить{% endblock %}

{% block content %}
    <div class="container mt-3">
    <center><h1>{{ marks }}<h1></center>
        <div class="row">
        <div class="col-md-12">
            {% for item in ads %}
            <div class="card mb-3">
                <div class="card-header">
                Категория: {{ item.category }}
                </div>
                <div class="card-body">
                <div class="media">
                    <img src="{{ item.photo.url }}" alt="" height="300" weight="250">
                    <div class="media-body">
                    <h5 class="card-title">{{ item.marks }} {{ item.mark_model }}</h5>
                    <p class="card-text">{{ item.full_text }}</p>
                    <a href="/cars/{{ item.id }}" class="btn btn-primary">Посмотреть...</a>
                    </div> 
                </div> 
                </div>
                <div class="card-footer text-muted">
                {{ item.created_ad|date:"Y-m-d H:i:s" }}
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    
    

{% endblock %}

{% comment %} 

<input type="text" placeholder="Марка" class="form-control"><br>
<input type="text" placeholder="Модель" class="form-control"><br>
<input type="text" placeholder="Год" class="form-control"><br>
<input type="text" placeholder="Двигатель" class="form-control"><br>
<input type="text" placeholder="Пробег" class="form-control"><br>
<input type="text" placeholder="Руль" class="form-control"><br>
<textarea class="form-control" placeholder="Инфо об авто"></textarea><br>
<input type="date" class="form-control"></br>
<button class="btn btn-success" type="submit">Добавить</button> {% endcomment %}