{% extends 'layout.html' %}

{% load static %}

{% block css_add %}
 <link rel="stylesheet" href="{% static 'main/css/password_done.css' %}">
{% endblock %} 

{% block content %}
<center>
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-purple">ATKUSHI Password Reset</div>  
        <div class="card-body px-5">
            <p class="card-text py-2">
                Мы отправили ссылку на вашу почту, пожалуйста перейдите по ней, чтобы восстановить пароль. Вы должны получить ее в ближайшее время.
            </p>
        </div>
    </div>
</center>

<center><p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p></center>

{% endblock %}