{% extends 'layout.html' %}

{% load static %}

{% block css_add %}
 <link rel="stylesheet" href="{% static 'main/css/password_done.css' %}">
{% endblock %} 

{% block content %}

    <center>
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-purple">Password reset complete</div>  
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Ваш пароль успешно изменен. Вы можете продолжить и войти в систему прямо сейчас
                    <p><a href="/login">Войти<a></p>
                </p>
            </div>
        </div>
    </center>


{% endblock %}