{% extends 'layout.html' %}

{% load static %}

{% block css_add %}
 <link rel="stylesheet" href="{% static 'main/css/proba2.css' %}">
{% endblock %} 

{% block title %}Добавить{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="container">
      <div class="wrapper">
        <div class="banner-image"> </div>
        <h1> Toyota Supra</h1>
        <p>Lorem ipsum dolor sit amet, <br/>
          consectetur adipiscing elit.</p>
      </div>
      <div class="button-wrapper"> 
      <button class="btn outline">DETAILS</button>
        <button class="btn fill">BUY NOW</button>
      </div>
        </div>
    </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script><script  src="./script.js"></script> 
    
{% endblock %}
